---
const { href = "/", text, iconRight, iconLeft, ariaLabel = "" } = Astro.props;
---

<a href={href} class="flex" aria-label={ariaLabel}>
    {iconLeft && <span class="icon-left" set:html={iconLeft} />}
    <p>{text}</p>
    {iconRight && <span class="icon-right" set:html={iconRight} />}
</a>

<style>
    .flex {
        align-items: center;
        justify-content: end;
        gap: 0.1rem;
    }

    a {
        fill: var(--clr-text);

        span {
            line-height: 0.5;
            transition: transform 0.3s ease-in-out;
        }

        p {
            text-wrap:nowrap;
        }

        &:hover {
            opacity: 0.5;

            .icon-left {
                transform: translateX(-3px);
            }

            .icon-right {
                transform: translateX(3px);
            }
        }
    }
</style>
