---
import leftArrow from "@assets/icons/left-arrow.svg?raw";
import rightArrow from "@assets/icons/right-arrow.svg?raw";
const {
    pageData: { currentPage, lastPage, url },
} = Astro.props;
---

<div class="flex">
    {
        currentPage == 1 ? (
            <div class="arrow disabled">
                <Fragment set:html={leftArrow} />
            </div>
        ) : (
            <a
                class="left-arrow"
                href={url.prev}
                aria-label={
                    currentPage <= 1
                        ? "no previous page"
                        : `go back to the previous page (page ${currentPage - 1} of ${lastPage})`
                }
            >
                <Fragment set:html={leftArrow} />
            </a>
        )
    }

    <p>{currentPage}</p>

    {
        currentPage == lastPage ? (
            <div class="arrow disabled">
                <Fragment set:html={rightArrow} />
            </div>
        ) : (
            <a
                class="right-arrow"
                href={url.next}
                aria-label={
                    currentPage >= lastPage
                        ? "no more pages"
                        : `go to the next page (page ${currentPage + 1} of ${lastPage})`
                }
            >
                <Fragment set:html={rightArrow} />
            </a>
        )
    }
</div>

<style>
    .flex {
        align-items: center;
        justify-content: end;
        gap: 0.5rem;
    }

    *[class*="arrow"] {
        fill: var(--clr-text);
        transition: transform 0.3s ease-in-out;

        &.disabled {
            opacity: 0.2;
            pointer-events: none;
        }

        &:hover {
            opacity: 0.5;
            pointer-events: unset;

            &.right-arrow {
                transform: translateX(3px);
            }

            &.left-arrow {
                transform: translateX(-3px);
            }
        }
    }
</style>
