---
import { Image } from "astro:assets";

const { href, slug, title, excerpt, coverImage } = Astro.props;
---

<div class="card">
    <a href=`${href}/${slug}` aria-label={`go to page about ${title} in my ${href.slice(1)}`}></a>
    <div class="img-wrapper">
        {
            coverImage ? (
                <Image
                    src={coverImage.url}
                    alt={coverImage.alt}
                    inferSize={true}
                    format="avif"
                    quality={"mid"}
                />
            ) : (
                <div class="placeholder-background" />
            )
        }
    </div>

    <h4>{title}</h4>
    <p class="excerpt">{excerpt}</p>
</div>

<style>
    .card {
        --flow-space: calc(0.1 * var(--spacer));
        width: 100%;

        .excerpt {
            font-size: var(--fs-small);

            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
        }
    }

    .img-wrapper {
        margin-bottom: calc(0.5 * var(--spacer));

        img,
        .placeholder-background {
            aspect-ratio: 3/1;
        }
    }

    @media (min-width: 40rem) {
        .img-wrapper {
            img,
            .placeholder-background {
                aspect-ratio: 1/1;
            }
        }
    }
</style>
