---
import { Image } from "astro:assets";
import TagList from "@components/atoms/TagList.astro";
import IconLink from "@components/atoms/IconLink.astro";
import rightArrow from "@assets/icons/right-arrow.svg?raw";

const { coverImage, tags, title, excerpt, publishDate, slug } = Astro.props;
---

<li class="card">
    <a href=`/blog/${slug}`></a>
    <div class="grid">
        <div class="img-wrapper">
            {
                coverImage ? (
                    <Image
                        src={coverImage.url}
                        alt={coverImage.alt}
                        width={500}
                        height={500}
                    />
                ) : (
                    <div class="placeholder-background" />
                )
            }
        </div>
        <div class="flow-content">
            <TagList rootDir="blog" tags={tags} />
            <h4>{title}</h4>
            <p class="abstract">{excerpt}</p>
        </div>
        <p class="date light-font">{publishDate}</p>
        <div class="cta">
            <IconLink
                href={slug}
                text="Read full post"
                iconRight={rightArrow}
            />
        </div>
    </div>
</li>

<style>
    .card:hover {
        .cta {
            opacity: 1;
            pointer-events: unset;
        }
    }

    .grid {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 8rem auto auto;

        grid-template-areas:
            "img img"
            "content content"
            "date cta";

        margin-bottom: 2rem;
        gap: 1rem;
    }

    .img-wrapper {
        grid-area: img;
    }

    .flow-content {
        --flow-space: 0.4rem;
        grid-area: content;

        .abstract {
            font-size: var(--fs-small);
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
        }
    }

    .date {
        grid-area: date;
        justify-self: start;
        align-self: end;
    }

    .cta {
        grid-area: cta;
        justify-self: end;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease-in-out;
    }

    @media (min-width: 40rem) {
        .grid {
            grid-template-columns: 10rem auto auto;
            grid-template-rows: 8rem auto;

            grid-template-areas:
                "img content content"
                "img date cta";
        }
    }
</style>
