---
import PostListItem from "@components/molecules/PostListItem.astro";
import PageSelector from "@components/atoms/PageSelector.astro";
import { getDateWithOrdinalSuffix } from "@scripts/utils.js";

const { articles, pageData, category } = Astro.props;
---

<section>
    <div class="container">
        {
            category ? (
                <h1>
                    Posts about <span>{category}</span>
                </h1>
            ) : (
                <h1>Recent posts</h1>
            )
        }

        <div class:list={["flex", { "vertical-split": pageData }]}>
            <ul class="unstyle-list">
                {
                    articles.map((article) => (
                        <PostListItem
                            title={article.title}
                            excerpt={article.excerpt}
                            publishDate={getDateWithOrdinalSuffix(
                                article.publishDate,
                            )}
                            coverImage={article.coverImage}
                            slug={article.slug}
                            tags={article.tags}
                        />
                    ))
                }
            </ul>
            <div>
                {pageData && <PageSelector {pageData} />}
            </div>
        </div>
    </div>
</section>

<style>
    span {
        font-weight: var(--fw-extra-bold);
    }

    .flex {
        flex-direction: column;
        align-items: center;
    }

    @media (min-width: 40rem) {
        .flex {
            margin-top: 2rem;
            align-items: end;
        }
    }

    @media (min-width: 60rem) {
        ul + div {
            position: sticky;
            top: calc(var(--spacer) + 12px);
        }

        .flex {
            flex-direction: row;
            align-items: start;
        }
    }
</style>
